// Defining colours.
$custom-theme-pink: #EC576A;
$custom-theme-aqua: #4EC5C2;
$custom-theme-lime: #E5E339; 

$indigo:  #6610f2 !default;
$purple:  #6f42c1 !default;
$pink:    #e83e8c !default;
$teal:    #20c997 !default;
$cyan:    #17a2b8 !default;

$white:    #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black:    #000 !default;

// Using colours to define theme.
$theme-colors: (
  "primary": $pink,
  "secondary": $teal,
  "light": $gray-200,
  "dark": $gray-900,
  "nav": $indigo
);

// Load required Bootstrap files. They will use theme.
@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";

// Change background colour. 
$body-bg: $gray-100;
// Enable support of gradient colours.
$enable-gradients: true;

// Load the rest of Bootstrap.
@import "../node_modules/bootstrap/scss/bootstrap";

// Override CSS.

// Custom CSS Grid on the "About Me" page.
// @mixin - mixins allow you to define styles that can be re-used throughout your stylesheet.
@mixin bio-middle-column {
  grid-column: 2;
}
// Grid for bio.
.bio {
  display: grid;
  grid-template-columns: 25% 50% 25%;

  .tracking-image {
    grid-column: 1;
    grid-row: 3;
  }
  // > - apply to immediate children.
  > h2 { @include bio-middle-column() }
  > p { @include bio-middle-column() }
  > * { margin: $spacer * 0.5 }
}

@include media-breakpoint-down(sm) {
  .bio {
    display: block;
  }
}

hr {
  margin-top: $spacer * 3;
}



